In [1]:
import sys
sys.path.append("/home/srelins/docs/cy_fdm_builder/src")
from testing_helpers import *
from FDMTable import *
from FDMDataset import *

## TO DO:

* PRIORITY: Work our what happens if you re-run .build() on a dataset
* re-running .build() needs "outside_obs" tables to be added back to src tables - TEST THIS

* start process with dataset - add guidance messages for dataset creation
* add check and warning for Null datetimes when adding start/end dates
i.e. dataset empty, build FDMTables -- or -- dataset contain XXXXX etc...
* run dataset build over whole dataset by default - add options to specify table_ids/FDMTable objects
* will need to add "verbose" functionality to FDMTables or the console print statements will be fucking epic
* add .drop() method to table

## Testing:

In [2]:
build_test_environment()

/home/srelins/anaconda3/envs/FDMBuilder/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

LOADING: table 1
LOADING: table 2
LOADING: table 3
LOADING: table 4
LOADING: table 5
LOADING: table 6

In [3]:
table_1 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_1",
    dataset_id="CY_TESTS_FDM"
)
table_1.build()

	 ##### Initialising FDM Table - src_table_1 #####
________________________________________________________________________________

* Table src_table_1 copied to CY_TESTS_FDM!
	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_1 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct

2. Adding person_id column:

	* src_table_1 already contains person_id column

3. Adding event_start_date:

	No event_start_date column found and event_start_date_cols not specified.

	To complete the build process, an event start date is required. Specify the
	`event_start_date_cols` argument of the .build() method as either:

	* If one column contains the full event date:

	  run .build(event_start_date_cols="insert-column-name-here")
	  NOTE: The process assumes a default date format of year-month-day. If the
	  date column is formatted as day-month-year set the `event_start_date_format`
	  argument as "DMY" (i.e. .build(event_start_date_cols="column-name",
	  event_start_date_format="DMY")) or "MDY" if the format is month-day-year etc....

	* If the year month and day are in separate columns:

	  run .build(event_start_date_cols=["year-column-name", "month-column-name",
	  "day-column-name"])
	  NOTE: In the case that any of the year/month/day columns aren't available, you may
	  specify any of the year/month/day columns as constant value e.g:
	  .build(event_start_date_cols=["year-column-name", "Jan", "15"])

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_1 COULD NOT BE COMPLETED! #####

In [4]:
table_1.head()

            person_id start_date   end_date
0                   7 2017-12-20 2025-05-05
1                   3 1964-01-25 1965-09-01
2                  10 2013-02-12 2013-07-12
3  junk_person_id_257 2016-09-05 2021-06-12
4                   1 1952-09-27 1962-02-15
5                  16 1973-12-17 1979-05-21
6                   5 2006-03-24 2008-07-21
7                  13 1997-08-07 1998-03-27
8  junk_person_id_625 2019-08-01 2024-12-25
9                  11 1958-11-12 1960-08-29

In [5]:
table_1.build(event_start_date_cols="start_date", event_start_date_format="YMD",
              event_end_date_cols="end_date", event_end_date_format="YMD",)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_1 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct

2. Adding person_id column:

	* src_table_1 already contains person_id column

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_1 COMPLETE! #####

In [6]:
table_2 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_2",
    dataset_id="CY_TESTS_FDM"
)
table_2.head()

	 ##### Initialising FDM Table - src_table_2 #####
________________________________________________________________________________

* Table src_table_2 copied to CY_TESTS_FDM!

,digest,start_day,start_month,start_year,end_day,end_month,end_year
0,junk_digest_451,8,1,1984,24,10.0,1991.0
1,=G,16,1,2018,10,1.0,2024.0
2,>K,22,1,1980,7,1.0,1987.0
3,>G,3,2,2002,1,4.0,2011.0
4,=L,1,2,2007,28,9.0,2011.0
5,>N,14,3,2008,28,8.0,2013.0
6,>I,19,4,1953,26,6.0,1961.0
7,=F,4,4,1972,9,12.0,1975.0
8,>O,22,4,2020,28,10.0,2024.0
9,>M,11,5,1971,27,9.0,1973.0

In [7]:
table_2.build(event_start_date_cols = ["start_year", "start_month", "start_day"],
              event_end_date_cols = ["end_year", "end_month", "end_day"])

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_2 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* digest found - syntax correct

2. Adding person_id column:

	* person_id column added!

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_2 COMPLETE! #####

In [8]:
table_3 = FDMTable(
    source_table_full_id = f"{PROJECT}.CY_TESTS_SRC.src_table_3",
    dataset_id="CY_TESTS_FDM"
)

	 ##### Initialising FDM Table - src_table_3 #####
________________________________________________________________________________

* Table src_table_3 copied to CY_TESTS_FDM!

In [9]:
table_3.head()

            EDRN month  year
0             HR     2  1974
1  junk_EDRN_250     3  1963
2             HW     3  1958
3             IX     4  1952
4             IY     4  1961
5  junk_EDRN_987     4  1976
6             IS     5  1965
7             IV     6  1998
8             IT     6  1997
9             HS     6  1957

In [10]:
table_3.build(
    event_start_date_cols=["year", "month", "15"]
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_3 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* EDRN found - syntax correct

2. Adding person_id column:

	* person_id column added!

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_3 COMPLETE! #####

In [11]:
table_4 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_4",
    dataset_id="CY_TESTS_FDM"
)
table_4.head()

	 ##### Initialising FDM Table - src_table_4 #####
________________________________________________________________________________

* Table src_table_4 copied to CY_TESTS_FDM!

            person_id           digest start_date_string end_date_string
0                  30               ?F            2-5-61        15-11-63
1                  47               @M           5-12-17         18-9-27
2                  45               @K          23-12-86         19-7-96
3                  38               ?N           25-4-10          7-1-15
4                  31               ?G           9-12-85        31-12-85
5                  48               @N           12-8-18         22-2-19
6                  32               ?H           13-1-66         20-6-74
7                  36               ?L          14-12-74          2-4-80
8                  40               @F           10-4-65          5-7-71
9  junk_person_id_903  junk_digest_903           17-2-09         28-5-12

In [12]:
table_4.build(
    event_start_date_cols="start_date_string",
    event_start_date_format="DMY",
    event_end_date_cols="end_date_string",
    event_end_date_format="DMY"
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_4 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* digest found - syntax correct

2. Adding person_id column:

	* src_table_4 already contains person_id column

	NOTE: digest also found in src_table_4. If you
	wish to rebuild the person_id column from digest, drop the existing
	person_id column in src_table_4 and run .build() again

3. Adding event_start_date:

	WARNING: 2 character years are ambiguous e.g. 75 will be parsed
	as 1975 but 70 will be parsed as 2070. Consider converting year.

	* event_start_date column added!

4. Adding event_end_date:

	WARNING: 2 character years are ambiguous e.g. 75 will be parsed
	as 1975 but 70 will be parsed as 2070. Consider converting year.

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_4 COMPLETE! #####

In [13]:
table_5 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_5",
    dataset_id="CY_TESTS_FDM"
)
table_5.head()

	 ##### Initialising FDM Table - src_table_5 #####
________________________________________________________________________________

* Table src_table_5 copied to CY_TESTS_FDM!

            person_id           EDRN    date_string
0                  40             JP  February-1976
1                  57             KW  November-2015
2                  52             KR     April-1975
3  junk_person_id_816  junk_EDRN_816      June-2020
4                  44             JT  November-1972
5                  54             KT       May-1965
6                  55             KU   January-1959
7                  42             JR   January-1963
8                  46             JV      July-1968
9  junk_person_id_771  junk_EDRN_771  February-1977

In [14]:
table_5.add_column('SPLIT(date_string, "-")[OFFSET(0)] AS month')
table_5.head()

            person_id           EDRN date_string  month
0                  54             KT    May-1965    May
1                  56             KV    May-1988    May
2                  43             JS    May-1971    May
3                  46             JV   July-1968   July
4                  51             KQ   July-1973   July
5                  48             JX   June-2006   June
6  junk_person_id_816  junk_EDRN_816   June-2020   June
7  junk_person_id_428  junk_EDRN_428  April-2000  April
8                  52             KR  April-1975  April
9                  53             KS  April-2006  April

In [15]:
table_5.add_column('SPLIT(date_string, "-")[OFFSET(1)] AS year')
table_5.head()

            person_id           EDRN date_string  month  year
0                  43             JS    May-1971    May  1971
1                  54             KT    May-1965    May  1965
2                  56             KV    May-1988    May  1988
3                  46             JV   July-1968   July  1968
4                  51             KQ   July-1973   July  1973
5  junk_person_id_816  junk_EDRN_816   June-2020   June  2020
6                  48             JX   June-2006   June  2006
7                  53             KS  April-2006  April  2006
8                  52             KR  April-1975  April  1975
9  junk_person_id_428  junk_EDRN_428  April-2000  April  2000

In [16]:
table_5.build(event_start_date_cols=["year", "month", "01"])

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_5 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* EDRN found - syntax correct

2. Adding person_id column:

	* src_table_5 already contains person_id column

	NOTE: EDRN also found in src_table_5. If you
	wish to rebuild the person_id column from EDRN, drop the existing
	person_id column in src_table_5 and run .build() again

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_5 COMPLETE! #####

In [17]:
table_6 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_6",
    dataset_id="CY_TESTS_FDM"
)
table_6.head()

	 ##### Initialising FDM Table - src_table_6 #####
________________________________________________________________________________

* Table src_table_6 copied to CY_TESTS_FDM!

            person_id           digest           EDRN  date_string
0                  51               AG             KQ  21-Dec-1994
1                  59               AO             KY  16-Jan-2012
2                  69               BO             LY  23-Nov-2003
3  junk_person_id_977  junk_digest_977  junk_EDRN_977  10-Feb-1951
4                  54               AJ             KT  16-Apr-1986
5                  64               BJ             LT   3-Oct-1996
6                  60               BF             LP  13-Jul-1981
7  junk_person_id_523  junk_digest_523  junk_EDRN_523   4-Aug-1993
8  junk_person_id_946  junk_digest_946  junk_EDRN_946  26-Mar-1971
9                  68               BN             LX  25-May-1977

In [18]:
table_6.build(
    event_start_date_cols="date_string",
    event_start_date_format="DMY",
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_6 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* digest found - syntax correct
	* EDRN found - syntax correct

2. Adding person_id column:

	WARNING: both digest and EDRN found in src_table_6. Using digest by default.
	This may produce unexpected behaviour!

	* src_table_6 already contains person_id column

	NOTE: digest and EDRN also found in src_table_6. If you
	wish to rebuild the person_id column from digest or EDRN, drop the existing
	person_id column in src_table_6 and run .build() again

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_6 COMPLETE! #####

In [19]:
dataset = FDMDataset(
    dataset_id="CY_TESTS_FDM",
    fdm_tables=[table_1, table_2, table_3, table_4, table_5, table_6]
)

In [20]:
dataset.build()

		 ##### BUILDING FDM DATASET CY_TESTS_FDM #####
________________________________________________________________________________

1. Checking source input tables:

	* src_table_1 - OK
	* src_table_2 - OK
	* src_table_3 - OK
	* src_table_4 - OK
	* src_table_5 - OK
	* src_table_6 - OK

2. Building person table:

	* Joining data from master person table
	* Person table built!

3. Building table of individuals with no person_id

	* individuals_missing_person_id created with 10 entries

4. Building person_ids missing from master table

	* person_ids_missing_from_master created with 20 entries

5. Building initial observation_period table

	* observation_period table built

6. Removing entries outside observation period

	* entries outside observation period removed from src_table_1
	  and stored in src_table_1_outside_obs
	* entries outside observation period removed from src_table_2
	  and stored in src_table_2_outside_obs
	* entries outside observation period removed from src_table_3
	  and stored in src_table_3_outside_obs
	* entries outside observation period removed from src_table_4
	  and stored in src_table_4_outside_obs
	* entries outside observation period removed from src_table_5
	  and stored in src_table_5_outside_obs
	* entries outside observation period removed from src_table_6
	  and stored in src_table_6_outside_obs

7. Rebuilding person table:

	* Joining data from master person table
	* Person table built!

8. Rebuilding observation_period table

	* observation_period table built

________________________________________________________________________________

	 ##### BUILD PROCESS FOR CY_TESTS_FDM COMPLETE! #####

In [21]:
dataset.build()

		 ##### BUILDING FDM DATASET CY_TESTS_FDM #####
________________________________________________________________________________

1. Checking source input tables:

	* Adding error entries back into src_table_1
	* src_table_1 - OK
	* Adding error entries back into src_table_2
	* src_table_2 - OK
	* Adding error entries back into src_table_3
	* src_table_3 - OK
	* Adding error entries back into src_table_4
	* src_table_4 - OK
	* Adding error entries back into src_table_5
	* src_table_5 - OK
	* Adding error entries back into src_table_6
	* src_table_6 - OK

2. Building person table:

	* Joining data from master person table
	* Person table built!

3. Building table of individuals with no person_id

	* individuals_missing_person_id created with 10 entries

4. Building person_ids missing from master table

	* person_ids_missing_from_master created with 20 entries

5. Building initial observation_period table

	* observation_period table built

6. Removing entries outside observation period

	* entries outside observation period removed from src_table_1
	  and stored in src_table_1_outside_obs
	* entries outside observation period removed from src_table_2
	  and stored in src_table_2_outside_obs
	* entries outside observation period removed from src_table_3
	  and stored in src_table_3_outside_obs
	* entries outside observation period removed from src_table_4
	  and stored in src_table_4_outside_obs
	* entries outside observation period removed from src_table_5
	  and stored in src_table_5_outside_obs
	* entries outside observation period removed from src_table_6
	  and stored in src_table_6_outside_obs

7. Rebuilding person table:

	* Joining data from master person table
	* Person table built!

8. Rebuilding observation_period table

	* observation_period table built

________________________________________________________________________________

	 ##### BUILD PROCESS FOR CY_TESTS_FDM COMPLETE! #####