In [1]:
import sys
sys.path.append("/home/srelins/docs/cy_fdm_builder/src")
from testing_helpers import *
from FDMTable import *
from FDMDataset import *

## TO DO:

* PRIORITY: Work our what happens if you re-run .build() on a dataset
* re-running .build() needs "outside_obs" tables to be added back to src tables - TEST THIS


* THEN: build FDM datasets from just dataset_id:
    + summarise tables in dataset init i.e. which are ready for FDM build, which arent, any FDM tables that will be overwritten, any src tables that will be re-combined
    * think about "verbose" functionality of FDMTables - silence init-messages (not required anyways as tables will be initialised from tables in FDM dataset) - "check_build" function
    
    
* add check and warning for Null datetimes when adding start/end dates
* add .drop() method to table
* raw input functionality - copying src tables? overwriting existing tables?
* build data dict function
* ask about requirement to have a raw version of FDM_tables at all times? - read only source?

## Testing:

In [2]:
build_test_environment()

/home/srelins/anaconda3/envs/FDMBuilder/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

LOADING: table 1
LOADING: table 2
LOADING: table 3
LOADING: table 4
LOADING: table 5
LOADING: table 6

In [3]:
table_1 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_1",
    dataset_id="CY_TESTS_FDM"
)
table_1.build()

	 ##### Initialising FDM Table - src_table_1 #####
________________________________________________________________________________

* Table src_table_1 copied to CY_TESTS_FDM!
	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_1 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct

2. Adding person_id column:

	* src_table_1 already contains person_id column

3. Adding event_start_date:

	No event_start_date column found and event_start_date_cols not specified.

	To complete the build process, an event start date is required. Specify the
	`event_start_date_cols` argument of the .build() method as either:

	* If one column contains the full event date:

	  run .build(event_start_date_cols="insert-column-name-here")
	  NOTE: The process assumes a default date format of year-month-day. If the
	  date column is formatted as day-month-year set the `event_start_date_format`
	  argument as "DMY" (i.e. .build(event_start_date_cols="column-name",
	  event_start_date_format="DMY")) or "MDY" if the format is month-day-year etc....

	* If the year month and day are in separate columns:

	  run .build(event_start_date_cols=["year-column-name", "month-column-name",
	  "day-column-name"])
	  NOTE: In the case that any of the year/month/day columns aren't available, you may
	  specify any of the year/month/day columns as constant value e.g:
	  .build(event_start_date_cols=["year-column-name", "Jan", "15"])

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_1 COULD NOT BE COMPLETED! #####

In [4]:
table_1.head()

            person_id start_date   end_date
0                   8 2013-10-22 2014-06-21
1                   4 1974-01-28 1983-04-28
2                  14 2011-01-20 2019-03-03
3                   3 1978-02-16 1984-01-06
4                  15 2004-02-18 2009-02-08
5  junk_person_id_895 2012-12-02 2014-03-27
6                   1 1954-05-23 1963-04-01
7                   9 2006-11-12 2010-11-28
8                  19 1974-11-22 1984-04-15
9                  18 2015-12-18 2016-07-14

In [5]:
table_1.build(event_start_date_cols="start_date", event_start_date_format="YMD",
              event_end_date_cols="end_date", event_end_date_format="YMD",)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_1 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct

2. Adding person_id column:

	* src_table_1 already contains person_id column

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_1 COMPLETE! #####

In [6]:
table_2 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_2",
    dataset_id="CY_TESTS_FDM"
)
table_2.head()

	 ##### Initialising FDM Table - src_table_2 #####
________________________________________________________________________________

* Table src_table_2 copied to CY_TESTS_FDM!

,digest,start_day,start_month,start_year,end_day,end_month,end_year
0,=F,13,1,1955,9,9.0,1959.0
1,=N,6,1,1988,1,10.0,1993.0
2,=H,6,2,1968,2,2.0,1985.0
3,junk_digest_370,18,2,1953,19,6.0,1970.0
4,=L,23,2,1961,23,2.0,1974.0
5,=J,14,2,1960,6,4.0,1961.0
6,>M,18,2,1983,21,12.0,2008.0
7,junk_digest_186,22,3,2006,25,8.0,2013.0
8,=M,25,3,1993,17,6.0,2013.0
9,junk_digest_108,19,3,1955,10,9.0,1978.0

In [7]:
table_2.build(event_start_date_cols = ["start_year", "start_month", "start_day"],
              event_end_date_cols = ["end_year", "end_month", "end_day"])

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_2 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* digest found - syntax correct

2. Adding person_id column:

	* person_id column added!

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_2 COMPLETE! #####

In [8]:
table_3 = FDMTable(
    source_table_full_id = f"{PROJECT}.CY_TESTS_SRC.src_table_3",
    dataset_id="CY_TESTS_FDM"
)

	 ##### Initialising FDM Table - src_table_3 #####
________________________________________________________________________________

* Table src_table_3 copied to CY_TESTS_FDM!

In [9]:
table_3.head()

            EDRN month  year
0             HY     1  1958
1             IY     2  1956
2  junk_EDRN_282     2  1957
3             IQ     2  1970
4   junk_EDRN_28     3  2000
5             HU     3  1955
6             HV     3  1977
7             IX     4  1974
8             IP     4  2004
9             HW     4  1962

In [10]:
table_3.build(
    event_start_date_cols=["year", "month", "15"]
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_3 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* EDRN found - syntax correct

2. Adding person_id column:

	* person_id column added!

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_3 COMPLETE! #####

In [11]:
table_4 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_4",
    dataset_id="CY_TESTS_FDM"
)
table_4.head()

	 ##### Initialising FDM Table - src_table_4 #####
________________________________________________________________________________

* Table src_table_4 copied to CY_TESTS_FDM!

            person_id           digest start_date_string end_date_string
0                  30               ?F           22-5-71         11-3-80
1                  47               @M          20-10-08          2-7-16
2                  38               ?N           15-8-60        11-10-61
3                  42               @H              None            None
4  junk_person_id_939  junk_digest_939           20-6-20        16-10-22
5                  34               ?J           21-5-74          6-4-76
6                  44               @J           17-4-07        18-10-12
7  junk_person_id_616  junk_digest_616          13-12-77         28-4-87
8                  32               ?H           4-11-74          2-7-81
9                  36               ?L           20-5-11        16-10-14

In [12]:
table_4.build(
    event_start_date_cols="start_date_string",
    event_start_date_format="DMY",
    event_end_date_cols="end_date_string",
    event_end_date_format="DMY"
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_4 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* digest found - syntax correct

2. Adding person_id column:

	* src_table_4 already contains person_id column

	NOTE: digest also found in src_table_4. If you
	wish to rebuild the person_id column from digest, drop the existing
	person_id column in src_table_4 and run .build() again

3. Adding event_start_date:

	WARNING: 2 character years are ambiguous e.g. 75 will be parsed
	as 1975 but 70 will be parsed as 2070. Consider converting year.

	* event_start_date column added!

4. Adding event_end_date:

	WARNING: 2 character years are ambiguous e.g. 75 will be parsed
	as 1975 but 70 will be parsed as 2070. Consider converting year.

	* event_end_date column added!

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_4 COMPLETE! #####

In [13]:
table_5 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_5",
    dataset_id="CY_TESTS_FDM"
)
table_5.head()

	 ##### Initialising FDM Table - src_table_5 #####
________________________________________________________________________________

* Table src_table_5 copied to CY_TESTS_FDM!

            person_id           EDRN  date_string
0                  54             KT     May-1958
1  junk_person_id_390  junk_EDRN_390     May-1998
2                  58             KX    July-1952
3                  41             JQ    July-1984
4                  48             JX    June-1961
5  junk_person_id_395  junk_EDRN_395    June-1986
6                  40             JP   April-1973
7                  59             KY   April-1974
8                  44             JT   March-1974
9                  55             KU  August-2001

In [14]:
table_5.add_column('SPLIT(date_string, "-")[OFFSET(0)] AS month')
table_5.head()

            person_id           EDRN  date_string   month
0                  54             KT     May-1958     May
1  junk_person_id_390  junk_EDRN_390     May-1998     May
2                  58             KX    July-1952    July
3                  41             JQ    July-1984    July
4                  48             JX    June-1961    June
5  junk_person_id_395  junk_EDRN_395    June-1986    June
6                  40             JP   April-1973   April
7                  59             KY   April-1974   April
8                  44             JT   March-1974   March
9                  55             KU  August-2001  August

In [15]:
table_5.add_column('SPLIT(date_string, "-")[OFFSET(1)] AS year')
table_5.head()

            person_id           EDRN  date_string   month  year
0                  54             KT     May-1958     May  1958
1  junk_person_id_390  junk_EDRN_390     May-1998     May  1998
2                  58             KX    July-1952    July  1952
3                  41             JQ    July-1984    July  1984
4                  48             JX    June-1961    June  1961
5  junk_person_id_395  junk_EDRN_395    June-1986    June  1986
6                  40             JP   April-1973   April  1973
7                  59             KY   April-1974   April  1974
8                  44             JT   March-1974   March  1974
9                  55             KU  August-2001  August  2001

In [16]:
table_5.build(event_start_date_cols=["year", "month", "01"])

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_5 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* EDRN found - syntax correct

2. Adding person_id column:

	* src_table_5 already contains person_id column

	NOTE: EDRN also found in src_table_5. If you
	wish to rebuild the person_id column from EDRN, drop the existing
	person_id column in src_table_5 and run .build() again

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_5 COMPLETE! #####

In [17]:
table_6 = FDMTable(
    source_table_full_id=f"{PROJECT}.CY_TESTS_SRC.src_table_6",
    dataset_id="CY_TESTS_FDM"
)
table_6.head()

	 ##### Initialising FDM Table - src_table_6 #####
________________________________________________________________________________

* Table src_table_6 copied to CY_TESTS_FDM!

            person_id           digest           EDRN  date_string
0                  53               AI             KS  28-Nov-1953
1                  59               AO             KY   8-Jun-1965
2                  69               BO             LY  10-Jan-2015
3                  68               BN             LX  11-Jan-1967
4                  57               AM             KW  16-Jan-1973
5                  62               BH             LR  18-Nov-1960
6  junk_person_id_878  junk_digest_878  junk_EDRN_878  28-Nov-2013
7                  58               AN             KX   4-Aug-1994
8                  65               BK             LU  23-Jan-2004
9                  54               AJ             KT   3-Apr-1992

In [18]:
table_6.build(
    event_start_date_cols="date_string",
    event_start_date_format="DMY",
)

	 ##### BUILDING FDM TABLE COMPONENTS FOR src_table_6 #####
________________________________________________________________________________

1. Checking for identifiers and correcting syntax:

	* person_id found - syntax correct
	* digest found - syntax correct
	* EDRN found - syntax correct

2. Adding person_id column:

	WARNING: both digest and EDRN found in src_table_6. Using digest by default.
	This may produce unexpected behaviour!

	* src_table_6 already contains person_id column

	NOTE: digest and EDRN also found in src_table_6. If you
	wish to rebuild the person_id column from digest or EDRN, drop the existing
	person_id column in src_table_6 and run .build() again

3. Adding event_start_date:

	* event_start_date column added!

4. Adding event_end_date:

	No event_end_date column found and event_end_date_column not specified.
	event_end_date end date will be omitted. If you wish to add an event_end_date,
	re-run .build() specifying the `event_end_date` argument.

	Note: Table build process will complete, but the observation periods derived
	from a source table with only an event start date may not be accurate, and
	may result in erroneous observations going unidentified. Talk to the CYP data
	team if at all uncertain about ommiting the event end date.

________________________________________________________________________________

	 ##### BUILD PROCESS FOR src_table_6 COMPLETE! #####

In [19]:
dataset = FDMDataset(
    dataset_id="CY_TESTS_FDM",
    fdm_tables=[table_1, table_2, table_3, table_4, table_5, table_6]
)

In [22]:
dataset.build()

		 ##### BUILDING FDM DATASET CY_TESTS_FDM #####
________________________________________________________________________________

1. Checking source input tables:

	* Adding problem entries back into src_table_1
	* src_table_1 - OK
	* Adding problem entries back into src_table_2
	* src_table_2 - OK
	* Adding problem entries back into src_table_3
	* src_table_3 - OK
	* Adding problem entries back into src_table_4
	* src_table_4 - OK
	* Adding problem entries back into src_table_5
	* src_table_5 - OK
	* Adding problem entries back into src_table_6
	* src_table_6 - OK

2. Building person table

	* Joining data from master person table
	* Person table built with 70 entries!

3. Building initial observation_period table

	* observation_period table built with 90 entries

4. Separating out problem entries from source tables

	* src_table_1:

KeyboardInterrupt:

In [21]:
print("bla", end=" ")
print("bla", end=" ")

bla bla

In [ ]:
sql = f"""
    SELECT * EXCEPT(problem)
    FROM `{PROJECT}.CY_TESTS_FDM.src_table_1`
"""
run_